h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.row-containers {
	padding: 10px;
}

#row-container-1 {
	background-color: yellow;
}

#row-1 {
	height: 150px;
	padding: 10px;
	border: 1px;
	border-color: black;
	border-style: solid;
}

#col-1-1 {
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: pink;
}

#col-1-2 {
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: #ffffff;
}

#row-container-2 {
		background-color: #ffffff;

}

#row-2 {
	height: 800px;
}

#col-2-1 {
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: red;
}

#col-2-2 {
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: grey;
}

#pic-container {
padding: 50px;
margin-left: 100px;
}

canvas {
	background-color: #ffffff;
	border: 2px;
	border-color: black;
	border-style: solid;
	margin-left: 150px;
}





